@font-face {
    font-family: RobotoLight;
    src: url(../fonts/roboto/Roboto-Light.ttf);
}
@font-face {
    font-family: RobotoMedium;
    src: url(../fonts/roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family: RobotoRegular;
    src: url(../fonts/roboto/Roboto-Regular.ttf);
}

.header {
    color: #2d4251;
    font-family: RobotoLight;
    font-size: 18px;
    padding-top: 20px;
}

.header__logo {
    color: yellow;
    font-weight: bold;
}

.header__logo img {
    width: 100px; /*196px;*/
    height: auto;
}

.header__nav {
    list-style-type: none;
    padding-left: 64px;
}

.header__nav li { 
    float: left;
}

.header__link:first-child { 
    margin-right: 20px;
}

.header__link a {
    color: #2d4251;
    width: 100px;
    display: inline-block;
    text-align: center;
}

.header__link a:hover {
    text-decoration: none;
}

.header__link--active a {
    color: #3899ed;
    border-bottom: 2px solid #3899ed;
}

.header__phones {
    font-family: RobotoMedium;
    font-size: 11px;
    text-align: right;
}

.header__top-phone, .header__bottom-phone, .header__top-web, .header__bottom-web {
    position: relative;
}

.header__top-phone {
    margin-bottom: 2px;
}

.header__top-phone::before {
    content: "";
    background-image: url(../img/icons/phone.png);
    width: 21px;
    height: 21px;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-size: 50%; 
    position: absolute;
    top: 1px;
    right: 84px;
}

.header__bottom-phone::before {
    content: "";
    background-image: url(../img/icons/phone2.png);
    width: 23px;
    height: 23px;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-size: 50%; 
    position: absolute;
    top: 1px;
    right: 84px;
}

.header__web {
    font-family: RobotoRegular;
    font-size: 11px;
}

.header__top-web::before {
    content: "";
    background-image: url(../img/icons/mail.png);
    width: 23px;
    height: 18px;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-size: 50%; 
    position: absolute;
    top: 3px;
    left: -13px;
}

.header__bottom-web::before {
    content: "";
    background-image: url(../img/icons/compass.png);
    width: 23px;
    height: 23px;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-size: 50%; 
    position: absolute;
    bottom: -10px;
    left: -13px;
}

.header__address {
    font-family: RobotoRegular;
    font-size: 11px;
}

.header__map {
    font-size: 9px;
}

.header__buttons {
    font-family: RobotoRegular;
    font-size: 16px; 
}

.header__share, .header__language {
    position: relative;
    text-indent: 16px;  /*to center text with the icon*/
}

.header__share::after {
    content: "";
    background-image: url(../img/icons/share.png);
    width: 28px;
    height: 29px;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-size: 50%; 
    position: absolute;
    bottom: -10px;
    left: 8px;
}

.header__language::after {
    content: "";
    background-image: url(../img/icons/globe.png);
    width: 28px;
    height: 29px;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-size: 50%; 
    position: absolute;
    bottom: -10px;
    left: 8px;
}