@font-face {
    font-family: RobotoLight;
    src: url(fonts/roboto/Roboto-Light.ttf);
}

.btn {
    border-radius: 10px;
    border: none;
    padding: 2px 16px;
    text-decoration: none;
    background: #ffffff;   
    box-shadow: 1px 2px #ebebeb;
    outline:none;
}

.btn:focus,.btn:active {  /*remove default blue outline */
   outline: none !important;
   /*box-shadow: none;*/
}